<div class="show-content">
  <div class="showcard">
    <div class= "container-sm">
     <br>
      <div class="row" style="text-align: center;"> <!-- Title & Username (NEED TO ADD USERNAME TO USER TABLE) -->
          <h1><strong>Post a Recommendation </strong></h1>
      </div>
      <div class= "newcard" style="width: 100%;">
        <div>
          <%= simple_form_for @rec do |f| %>

          <form class="row g-3">
            <div class="col-md-12">
              <%= f.input :name, class:"form-control", placeholder:"Billy's Hot Dog Cart", label:"Listing title" %>
            </div>

            <div class="col-md-6">
              <%= f.association :category, collection: Category.all, input_html: {class: "form-select"} %>
            </div>

            <div class="col-md-6">
              <%= f.input :rating, class:"form-control", placeholder:"9.8", label:"Rating (out of 10)" %>
            </div>

            <div class="col-md-12">
              <%= f.input :name, class:"form-control", placeholder:"Best hot dogs in NYC!", label:"Description" %>
            </div>

            <div class="col-12">
              <%= f.input :address, class:"form-control", placeholder:"327 Central Park West, New York, NY 10025, United States", label:"Location" %>
            </div>

          <div class="col-md-12">
              <%= f.input :website, class:"form-control", placeholder:"https://www.hello.com/", label:" Website" %>
            </div>

          <div class="row g-3">
            <div class="col">
          <div class="web_ui__Card__card">
            <div data-testid="media-select" id="photos">
            <%# f.input :photos,  class:"u-hidden", accept:"image/*", multiple:""%>
            <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Upload photo" %>
            </div>
          </div>
            </div>
            <%= f.button :submit, class:"btn-primary"%>
          </div>
          </form>

          <% end %>
          <br>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>
