<div class= "show-content">
  <div class= "container-sm">
    <div class="showcard">
      <div class= "container-sm">
        <div class="row"> <!-- Title & Username (NEED TO ADD USERNAME TO USER TABLE) -->
          <div class="col-sm-6">
            <h1><strong><%= @rec.name %></strong></h1>
          </div>
          <div class="col-sm-6 text-end">
            <h4>@<%= @rec.user.username %></h4>
          </div>
        </div>

        <div class="row"> <!-- Category, Rating & Edit/Delete buttons -->
          <div class="col-sm-12">
            <h5><%= @rec.category.name.capitalize %></h5>
            <h5> <i class="fa-solid fa-star"></i> <%= @rec.rating %>/10</h5>
          </div>
          <div class="col-sm text-end">
            <div>
              <% if policy(@rec).edit? %>
                <%= link_to "Edit", edit_rec_path(@rec), class: "btn-primary" %>
              <% end %>
              <% if policy(@rec).destroy? %>
                <%= link_to "Delete", rec_path(@rec), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
        <br>
        <div class="row gx-3" style= "height: 500px;"> <!-- Photos & Map -->
          <div class="col-sm-8">
            <div class="show-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @rec.photos.first.key %>')">
              <%# @rec.photos.each do |photo| %>
                <%# cl_image_tag photo.key%>
              <%# end %>
            </div>
          </div>
          <!-- Map -->
          <div class="col-sm-4">
            <div style="width: 100%; height: 100%; border-radius: 6px; border: 1px solid lightgrey; box-shadow: 0 0 4px rgba(0,0,0,0.2);"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>

        </div>

        <div class="row"> <!-- Body: description, functions, etc. -->
          <div class="col-sm-12">
            <br>
            <p>
              <i class="fa-solid fa-house"></i> &nbsp; <%= @rec.address %>
            </p>
            <p>
              <i class="fa-solid fa-quote-left"></i> &nbsp; <%= @rec.description %> &nbsp; <i class="fa-solid fa-quote-right"></i>

            </p>
            <p class="card-text">
              <button type="button" class="btn-primary" data-bs-toggle="modal" data-bs-target="#new_pin_modal">
                Save rec
              </button>
              <%= link_to "Visit Website", @rec.website, class: "btn-primary" %>
              <br>
            </p>
          </div>
        </div>
        <br>
        <hr>
        <br>

        <!-- Comments -->
        <div class="row">
          <div class="col-sm-12">
            <% if @rec.reviews.count == 1 %>
              <h4><strong><%= @rec.reviews.count %> Comment</strong></h4>
            <% elsif @rec.reviews.count > 0 %>
              <h4><strong><%= @rec.reviews.count %> Comments</strong></h4>
            <% else %>
              <h4><strong>No comments yet! </strong></h4>
            <% end %>

            <ul class="list-group list-group-flush" style="width: 100%;">
              <% @rec.reviews.each do |review| %>
                <li class="list-group-item">
                  <br>
                  <h6><strong>@<%=review.user.username%></strong></h6>
                  <p><%= review.comment %></p>
                  <%# regex to strip email to username: ^[^@]+ %>
                  <div>
                    <% if policy(review).edit? %>
                      <%= link_to "Edit", edit_rec_review_path(@rec.id, review), class: "btn-ghost" %>
                    <% end %>
                    <% if policy(review).destroy? %>
                      <%= link_to "Delete", rec_review_path(@rec.id, review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-ghost" %>
                    <% end %>
                  </div>
                  <br>
                </li>
              <% end %>
            </ul>
            <br>
            <!-- Comment button -->
            <div style="margin-bottom: 30px;">
              <button type="button" class="btn-primary" data-bs-toggle="modal" data-bs-target="#new_review_modal">
                Add a comment
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "modal", board: @board, pin: @pin %>
<%= render "newreview", review: @review %>
