<div class= "show-container">
  <div class="showcard">
    <div class= "container-sm">
      <div class="row"> <!-- Title & Username (NEED TO ADD USERNAME TO USER TABLE) -->
        <div class="col-sm-6">
          <h1><strong><%= @rec.name %></strong></h1>
        </div>
        <div class="col-sm-6 text-end">
          <h4>@<%# @user.username %></h4>
        </div>
      </div>

      <div class="row"> <!-- Category & Edit/Delete buttons -->
        <div class="col-sm">
          <h5><%= @rec.category %></h5>
        </div>
        <div class="col-sm text-end">
          <div>
            <% if policy(@rec).edit? %>
              <%= link_to "Edit", edit_rec_path(@rec), class: "btn btn-auto" %>
            <% end %>
            <% if policy(@rec).destroy? %>
              <%= link_to "Delete", rec_path(@rec), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-auto" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row"> <!-- Photos -->
        <div class="col-sm text-center">
          <p><br><br><br> Insert photos here <br><br><br></p>
        </div>
      </div>

      <div class="row"> <!-- Body: description, rating, functions, etc. -->
        <div class="col-sm-9">
          <p>
            <strong>Address:</strong> <%= @rec.address %>
          <p>
          <p>
            <%= @rec.description %>
          </p>
          <p>
            <button type="button" class="btn btn-auto">Add to Wishlist</button>
            <button type="button" class="btn btn-auto">Visit Website</button>
          </p>
          <br>
        </div>
        <div class="col-sm-3">
          <p>
            <!-- REC RATING -->
          </p>
        </div>
      </div>

      <div class="row"> <!-- Reviews -->
        <div class="col-sm">
          <div>
            <h4>Reviews</h4>
          </div>
          <br>
          <ul class="list-group list-group-flush" style="width: 100%;">
            <li class="list-group-item">
              <p>
                Review 1
              </p>
            </li>
            <li class="list-group-item">
              <p>
                Review 2
              </p>
            </li>
            <li class="list-group-item">
              <p>
                Review 3
              </p>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>




</div>
