<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "trecs_logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if current_page?(root_path) %>
    <% else %>
      <div id="search-nav">
        <%= form_with url: recs_path, method: :get, class: "d-flex" do %>
          <%= icon = icon('fa-solid', 'magnifying-glass') %>
          <% quest = "What do you want to search?" %>
          <% bar = icon + quest %>
          <%= text_field_tag :query,
            params[:query],
            id: "search-form-nav",
            placeholder: "What do you want to search?"
          %>
        <% end %>
      </div>
    <% end%>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active" id="recommend">
            <div class="boards-btn">
              <%= link_to "Recommend ", new_rec_path, class: "btn-primary" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "empty_avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "View Profile", "#", class: "dropdown-item" %>
              <%= link_to "Boards", boards_path, class: "dropdown-item" %>
              <%= link_to "Settings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
