<div class="flex-page">
  <div id="home-search">
    <div id="home-search-content">
      <!-- <div class="search-placeholder">
        <p><i class="fas fa-search"></i>    Where do you want to go?</p>
      </div> -->

      <%= form_with url: recs_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "search-form-homepage",
          placeholder: "What do you want to search?"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

      <div class="home-search-category">
        <i class="fas fa-hotel cat_one"></i>
          <%# <%= link_to "Accommodation", /Users/clara/code/mktraynor/TRECS/app/views/recs/index.html.erb %>
        <i class="fas fa-landmark cat_one"></i>
          <%# <%= link_to "Museum", /Users/clara/code/mktraynor/TRECS/app/views/recs/index.html.erb %>
        <i class="fas fa-utensils cat_one"></i>
          <%# <%= link_to "Restaurant", /Users/clara/code/mktraynor/TRECS/app/views/recs/index.html.erb %>
        <i class="fas fa-cocktail cat_one"></i>
          <%# <%= link_to "Bar", /Users/clara/code/mktraynor/TRECS/app/views/recs/index.html.erb %>
      </div>
    </div>
  </div>
  <div class="home-recents">
    <p>Recent Recs listed</p>
  </div>
</div>
