<div class="flex-page">
  <div id="home-search">
    <div class="home-title">
      <h1 style="color: white !important;"><strong> Explore travel recommendations from your trusted social circle.</strong></h1>
    </div>
    <div id="home-search-content">
      <%= form_with url: recs_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "search-form-homepage",
          placeholder: "Where would you like to go?"
        %>
        <%= submit_tag "Search", class: "btn btn-primary", style: "box-shadow: 3px 3px 5px #006d85;" %>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="home-recents">
      <h3><strong>Your Destinations</strong></h3>
      <div class="home-boards">
        <% if @user.boards.size <= 5 %>
          <% @user.boards.each do |board| %>
            <% unless board.name == "All Pins" %>
              <div class="card home-card border-0">
                <div class="card-img">
                  <%# cl_image_tag rec.photo.first.key, height: 100px, width: auto, crop: :fill %>
                  <% if board.pins.empty? %>
                    <div class="imgs">
                      <div class="img big-img">
                      </div>
                    </div>
                    <div class="imgs small-imgs">
                      <div class="img small-img">
                      </div>
                      <div class="img small-img">
                      </div>
                    </div>

                  <% elsif board.pins.size >= 3 %>
                    <div class="imgs">
                      <div class="index-card-img img big-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.pins.first.rec.photos.first.key %>')">
                      </div>
                    </div>
                    <div class="imgs small-imgs">
                      <div class="index-card-img img small-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.pins[1].rec.photos.first.key %>')">
                      </div>
                      <div class="index-card-img img small-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.pins[2].rec.photos.first.key %>')">
                      </div>
                    </div>

                  <% else %>
                    <div class="index-card-img img big-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.pins.first.rec.photos.first.key %>')">
                    </div>
                  <% end %>
                </div>
                <div class="card-body">
                  <%= link_to board.name, board_path(board), class: "board-to-pin btn-primary" %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <% @user.boards[1..4].each do |board| %>
            <% unless board.name == "All Pins" %>
              <div class="card home-card border-0">
                <div class="card-img">
                  <%# cl_image_tag rec.photo.first.key, height: 100px, width: auto, crop: :fill %>
                  <% if board.pins.empty? %>
                    <div class="imgs">
                      <div class="img big-img">
                      </div>
                    </div>
                    <div class="imgs small-imgs">
                      <div class="img small-img">
                      </div>
                      <div class="img small-img">
                      </div>
                    </div>

                  <% elsif board.pins.size >= 3 %>
                    <div class="imgs">
                      <div class="index-card-img img big-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.pins.first.rec.photos.first.key %>')">
                      </div>
                    </div>
                    <div class="imgs small-imgs">
                      <div class="index-card-img img small-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.pins[1].rec.photos.first.key %>')">
                      </div>
                      <div class="index-card-img img small-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.pins[2].rec.photos.first.key %>')">
                      </div>
                    </div>

                  <% else %>
                    <div class="index-card-img img big-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.pins.first.rec.photos.first.key %>')">
                    </div>
                  <% end %>
                </div>
                <div class="card-body">
                  <%= link_to board.name, board_path(board), class: "board-to-pin btn-primary" %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end%>

</div>
