<div class="flex-page">
  <div id="home-search">
    <div id="home-search-content">
      <!-- <div class="search-placeholder">
        <p><i class="fas fa-search"></i>    Where do you want to go?</p>
      </div> -->
      <div class="home-title">
        <h1><strong>TRECS: Travel recommendations from your trusted social circle.</strong></h1>
      </div>

      <%= form_with url: recs_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "search-form-homepage",
          placeholder: "What do you want to search?"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

      <div class="home-search-category">
        <%= link_to recs_path(category_id: Category.find_by(name: "accommodation").id) do   %>
          <i class="fas fa-hotel cat_one"></i>
        <% end %>
        <%= link_to recs_path(category_id: Category.find_by(name: "museums").id) do   %>
          <i class="fas fa-landmark cat_one"></i>
        <% end %>
        <%= link_to recs_path(category_id: Category.find_by(name: "restaurants").id) do   %>
          <i class="fas fa-utensils cat_one"></i>
        <% end %>
        <%= link_to recs_path(category_id: Category.find_by(name: "bars").id) do   %>
          <i class="fas fa-cocktail cat_one"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="home-recents">
    <h3><strong>Your Destinations</strong></h3>
    <div class="home-boards">
      <% @boards.each_with_index do |board| %>
        <% if board.id > 1 && board.id <= 4 %>
          <div class="card home-card border-0">
            <div class="card-img">
              <%# cl_image_tag rec.photo.first.key, height: 100px, width: auto, crop: :fill %>
              <div class="imgs">
                <div class="img big-img">
                </div>
              </div>
              <div class="imgs small-imgs">
                <div class="img small-img">
                </div>
                <div class="img small-img">
                </div>
              </div>
            </div>
            <div class="card-body">
              <%= link_to board.name, board_path(board), class: "board-to-pin btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- <h3><strong>Top destinations</strong></h3>
    <% @boards.each do |board| %>
      <% unless board.name == "All Pins" %>
        <%= board.name %>
      <% end %>
    <% end %> -->
  </div>

</div>
