<div class="show-content">
  <div class="showcard">
    <div class= "container-sm">
      <div class="row">
        <div class="col-sm">
          <h1><strong><%= @board.name %></strong></h1>
          <p><%= @board.pins.count %> pins</p>
          <p><%= "You haven't saved any recommendations yet!" if @board.pins.empty? %></p>
        </div>
        <div class="col-sm-6 text-end">
          <div class="edit-btns">
            <% if policy(@board).edit? %>
              <%# link_to "Edit board", edit_board_path(@board), class: "btn-primary" %>
              <button type="button" class="btn-primary" data-bs-toggle="modal" data-bs-target="#edit_board_modal">
                 Edit board
              </button>
            <% end %>
            <% if policy(@board).destroy? %>
              <%= link_to "Delete board", board_path(@board), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class= "row">
        <div class= "pin-cards">
          <% @board.pins.each do |pin| %>
            <% height = rand(200..500) %>
            <div class="card pin" style="height: <%= height %>px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pin.rec.photos.first.key %>')">
              <div class="card-title">
                <br>
                <h5><strong><%= pin.rec.name%></strong></h5>
              </div>
              <div class="card-body pin-body" id="hide">
                <p><%= pin.rec.address %></p>
                <div class="nav-item dropdown">
                  <%= button_tag "Options", class: "avatar dropdown-toggle btn-ghost btn-drop-pin", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <%= link_to "See more", rec_path(pin.rec_id), class: "dropdown-item" %>
                    <%= link_to "Remove pin", pin_path(pin),  data: { turbo_method: :delete, turbo_confirm: "Remove #{pin.rec.name} from #{@board.name}?" }, class: "dropdown-item" %>
                    <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_pin_modal_<%= pin.id %>">
                    Move pin
                    </button>
                  </div>
                </div>
              </div>
              <%= render "modal", boards: current_user.boards, pin: pin %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "editmodal", board: @board %>
